.scroll_box {
  position: relative;
  top: 4.4rem;
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0070f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}



.scroll-to-top.show {
  display: block;
}